.home-container {
    display: flex;
    margin-top: 10px;
}
.home-container.darkTheme {
    background-color: #2a2a2a;
}

@media screen and (max-width : 1000px) {
    .sidebar-container li a {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width : 770px) {
    .sidebar-container {
        width: 0;
        overflow: hidden;
    }
    .sidebar-container.active {
        width: 10%;
    }
}
@media screen and (max-width : 650px) {
    .pop-box {
        width: 100%;
    }
    .title {
        font-size: 18px;
    }
    .channelTitle, .channelInfo {
        font-size: 14px;
    }
}